*{
  margin:0px;
  padding:0px;
  font-family: "Playfair Display", serif;
  box-sizing:"border-box"  
}
body{
  display:flex;
  justify-content: center;
  align-items: center;
  min-height:100vh;
  background-image: url(https://4kwallpapers.com/images/wallpapers/dark-background-abstract-background-network-3d-background-3840x2160-8324.png);
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center; 
}